<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zypcy.framework.fast.sys.mapper.ZySysMenuMapper">

    <resultMap id="BaseResultMap" type="com.zypcy.framework.fast.sys.entity.ZySysMenu">
        <id column="menu_id" jdbcType="VARCHAR" property="menuId"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="state" jdbcType="BIT" property="state"/>
        <result column="isdel" jdbcType="BIT" property="isdel"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_userid" jdbcType="VARCHAR" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_userid" jdbcType="VARCHAR" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
    </resultMap>

    <select id="getMenuTrees"  resultMap="MenuTreesMap">
        select menu_id as id , parent_id  as p_id, menu_name as name
        from zy_sys_menu
        where isdel=0
    </select>

    <resultMap id="MenuTreesMap" type="com.zypcy.framework.fast.sys.dto.ZySysTree">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="p_id" jdbcType="VARCHAR" property="pId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <!-- 根据角色Id获取菜单 -->
    <select id="getMenusByRoleId"  resultMap="UserMenuMap" parameterType="java.util.List">
        select menu.menu_id,menu.menu_name,menu.parent_id ,menu.path , menu.icon
        from zy_sys_menu menu
        inner join zy_sys_role_menu rolemenu on rolemenu.menu_id=menu.menu_id and menu.isdel=0 and menu.state=0
        where
        rolemenu.role_id in
        <foreach collection="list" item="roleId" open="(" separator="," close=")">
            ${roleId}
        </foreach>
        group by menu.menu_id
    </select>
    <resultMap id="UserMenuMap" type="com.zypcy.framework.fast.sys.entity.ZySysMenu">
        <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
        <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
        <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
    </resultMap>

    <!-- 超级管理员获取所有菜单 -->
    <select id="getMenusByAdmin"  resultMap="UserMenuMap">
        select menu.menu_id,menu.menu_name,menu.parent_id,menu.path , menu.icon
        from zy_sys_menu menu
        where menu.isdel=0 and menu.state=0
    </select>
</mapper>
