
<div th:fragment="header" >
    <meta content="ZyAdmin、后台管理框架、大数据、app" name="description"/>
    <meta content="ZyAdmin" name="author"/>
    <meta name="keywords" content="ZyAdmin 后台管理框架 大数据 app" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>ZyAdmin</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/layui/css/font.css}">
    <link rel="stylesheet" th:href="@{/layui/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/ztree/zTreeStyle/zTreeStyle.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</div>

<div th:fragment="footer">
    <!--<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript">
        //先用cdn，如未加载到jquery再加载项目下的
        if(typeof jQuery == "undefined"){
            var js = "/js/jquery.min.js";
            document.write('<script type="text/javascript" src="' + js + '"><\/script>');
        }
    </script>-->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/layui/lib/layui/layui.js}" charset="utf-8"></script>-->
    <script type="text/javascript" th:src="@{/layui/lib/layui/layui.all.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/layui/lib/layui/lay/modules/formSelects-v4.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/layui/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.ztree.all.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/base64.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.qrcode.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatable.js}"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="/layui/js/html5.min.js"></script>
    <script src="/layui/js/respond.min.js"></script>
    <![endif]-->
</div>

