
* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    width: 100%;
    min-height: 100%;
}

.tree_left{
    position: absolute;
    width: 220px;
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    border: solid 1px #f0f0f0;
    background: #fafafa;
}
.tree_right{
    position: absolute;
    left: 220px;
    right: 0;
    padding: 5px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.padding5{padding:5px; !important;}
.padding10{padding:10px; !important;}
.padding11{padding:11px; !important;}
.padding12{padding:12px; !important;}
.padding15{padding:15px; !important;}
.padding20{padding:20px; !important;}
.paddingtop5{padding-top: 5px; !important;}
.paddingtop10{padding-top: 10px; !important;}
.paddingtop15{padding-top: 15px; !important;}
.paddingtop20{padding-top: 20px; !important;}
.paddingright5{padding-right: 5px; !important;}
.paddingright10{padding-right: 10px; !important;}
.paddingright15{padding-right: 15px; !important;}
.paddingright20{padding-right: 20px; !important;}
.paddingleft5{padding-left: 5px; !important;}
.paddingleft10{padding-left: 10px; !important;}
.paddingleft15{padding-left: 15px; !important;}
.paddingleft20{padding-left: 20px; !important;}
.paddingbottom5{padding-bottom: 5px; !important;}
.paddingbottom10{padding-bottom: 10px; !important;}
.paddingbottom15{padding-bottom: 15px; !important;}
.paddingbottom20{padding-bottom: 20px; !important;}

.margin5{margin: 5px;!important;}
.margin10{margin: 10px;!important;}
.margin12{margin: 12px;!important;}
.margin15{margin: 15px;!important;}
.margin20{margin: 20px;!important;}
.margintop5{margin-top: 5px;!important;}
.margintop10{margin-top: 10px;!important;}
.margintop15{margin-top: 15px;!important;}
.margintop20{margin-top: 20px;!important;}
.marginleft5{margin-left: 5px;!important;}
.marginleft10{margin-left: 10px;!important;}
.marginleft15{margin-left: 15px;!important;}
.marginleft20{margin-left: 20px;!important;}
.marginright5{margin-right: 5px;!important;}
.marginright10{margin-right: 10px;!important;}
.marginright15{margin-right: 15px;!important;}
.marginright20{margin-right: 20px;!important;}
.marginbottom5{margin-bottom: 5px;!important;}
.marginbottom10{margin-bottom: 10px;!important;}
.marginbottom15{margin-bottom: 15px;!important;}
.marginbottom20{margin-bottom: 20px;!important;}

.layui-row-label{display: block;padding: 9px 20px;font-weight: 400;line-height: 20px;text-align: right;}
